table.myFaces_panelTabbedPane {
    border-spacing: 0;
    border-style: none;
    empty-cells: show;
    padding: 0;
    float: left;
}

.second-column select {
    width: 90%;
}

.first-column {
    vertical-align: top;
}

.div-image {
    float: right;
}

.img-select {
    width: 100%;
}

.thumbnail {
    float: left;
    border-radius: 0px;
    padding: 0px;
}

.thumbnail-label{
	padding:2px 2px 2px 2px !important;
}

.thumbnail tbody tr td table.form-group tbody tr td{
	padding:2px;
}

.thumbnail tbody tr td a img{
	margin-top:7px;
	margin-bottom:7px;
	border:1px solid #ccc;
}

body {
    font-family: verdana, arial !important;
}

.ui-inputfield {
    padding: 0px;
    font-size: auto;
    font-weight: normal;
}

.ui-widget {
    
}

.center {
    text-align: center;
    margin: 2 2 2 2;
    padding: 2px;
}

.center img {
    margin: 2 2 2 2;
    padding: 2px;
}

.image-navigation img {
    vertical-align: middle;
}

.ui-editor {
    width: 90%;
}

.ui-autocomplete-multiple-container.ui-inputfield {
    width: 100%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: normal;
    color: black;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)) repeat scroll 0 0 #f6f6f6;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #000;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: none;
    font-family: verdana, arial;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield, .ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
    .ui-widget-header .ui-inputfield.ui-state-focus {
    font-weight: normal;
    padding: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white;
    text-shadow: none;
}

.ui-widget {
    font-size: 1.3em;
}

.second-column span.ui-autocomplete {
    width: 60%;
}

.second-column input {
    width: 90%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-size: 13px;
    height: 25px;
    width: 100% !important;
}

#itemtip {
    background-color: white;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #eee;
}

.ui-autocomplete {
    width: 100%;
}

.ui-autocomplete-itemtip {
    background: #fff;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    padding: 1px 5px;
}

.ui-autocomplete-item.ui-autocomplete-row {
    background-color: #fff;
}

.ui-autocomplete-item.ui-autocomplete-row span{
    font-size: 12px;
    margin-left: 5px;
}

.ui-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

#categories tr td {
    vertical-align: top;
}

/**
.form-horizontal.form-bordered .inner-form .form-group, .form-group .inner-form .form-inline .input-group {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    position: relative;
}

.form-horizontal.form-bordered .inner-form .form-group input, .form-horizontal.form-bordered .inner-form .form-group select {
    height: 25px;
    line-height: 15px;
}

.form-horizontal.form-bordered .inner-form .form-group .input-group-addon, .form-group .inner-form .form-inline .input-group .input-group-addon,
    .form-group  .form-inline .input-group .input-group-addon {
    padding: 4px 12px;
    width: 40px;
}

.form-group .inner-form .form-inline .input-group input {
    height: 25px;
    line-height: 15px;
}

.inner-form .form-inline .form-group {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin:1px solid #ddd;
}

.inner-form .form-inline .form-group input {
    margin: 0 5px;
}
*/

.halfwidth {
    float: left;
    width: 50%;
}

.form-horizontal.form-bordered .referenceLanguage .html-output {
	padding: 10px;
	overflow-y: scroll;
}

.form-horizontal.form-bordered .referenceLanguage .text-output {
	padding: 10px;
}

.selection {
	background-color: #368ee0;
	opacity: 0.4;
}

.gone {
	display: none;
}

#deselectRegionButton {
	color: red;
	cursor: pointer;
}

/* .second-column span.ui-autocomplete input { */
/*     font-family: verdana,arial,sans-serif; */
/*     font-size: 15px; */
/*     padding: 2px; */
/*     width: 100%; */
/* } */

/* .second-column span.ui-autocomplete input.ui-state-focus { */
/*     font-weight: 400; */
/* } */

/* .second-column select { */
/*     width: 90%; */
/* } */

/* .ui-autocomplete-input {} */