table.myFaces_panelTabbedPane {
    border-spacing: 0;
    border-style: none;
    empty-cells: show;
    padding: 0;
    width: 70%;
    float:left;
}

.div-image {
    width: 30%;   
   float:right;
}

.thumbnail{
    float: left;
}